# Python / Byte-compiled / optimized / DLL
__pycache__/
*.py[cod]
*.so
.DS_Store
.cache
*.npz
*.svg
.pypirc.txt
README_pypi.txt

# OS or Editor files and folders
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.directory
/.idea/
.vscode/
=19

# always-ignore directories
build/
dist/
data/
results/
bash_executables/
other_analysis/
