# Python / Byte-compiled / optimized / DLL
__pycache__/
*.py[cod]
*.so
.DS_Store
.cache
*.npz

# OS or Editor files and folders
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.directory
/.idea/
.vscode/
=19

# always-ignore directories
build/
dist/
tests/
data/